<div id="cont_box">
    <h2 id="cont_heading">
        Contact US
        <span id="border"></span>
    </h2>


<div id="cont_form">
    <form action="" id="form" onsubmit="validation()" method="POST">

        <input type="text" autocomplete="off" name="username" placeholder="Enter your Name" id="u_name">
        <input type="text" name="useremail" autocomplete="off" placeholder="Enter your Email" id="u_email">
        <input type="tel" autocomplete="off" name="usernumber" placeholder="Enter Contact Number" id="u_number">
        <input type="text" name="userreq" autocomplete="off" placeholder="Enter your Requirements" id="u_req">
<button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>


</div>