<link rel="stylesheet" href="mycss.css">
<div id="services" class="text-center ml-4 mt-5">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Front-End Website Development</div>
        <div class="card-body">
            <h5 class="card-title">User Interface</h5>
            <p class="card-text">I will do all the Frontend part of the website with HTML, Css, Javascript,Bootstrap
                ,Tailwind-Css..</p>
        </div>
    </div>
    <div class="card text-white bg-secondary mb-3 ml-5" style="max-width: 18rem;">
        <div class="card-header">Back-End Website Development</div>
        <div class="card-body">
            <h5 class="card-title">User Experience</h5>
            <p class="card-text">I will do all the backend part of the website width Nodejs, Mongo, Express</p>
        </div>
    </div>
    <div class="card text-white bg-dark mb-3 ml-5" style="max-width: 18rem;">
        <div class="card-header">Fullstack Website Development</div>
        <div class="card-body">
            <h5 class="card-title">Complete Website Development</h5>
            <p class="card-text">I will do all the Frontend part of the website with HTML, Css, Javascript, NodeJs,
                MongoDb, Express.</p>
        </div>
    </div>
</div>
    <div class="contaienr text-center">
        <h4>To Get Any of these services kindly contact me</h4>
        <a href="/contact">Contact Us</a>
    </div>
    <script src="index.js"></script>